/* general */
footer p,
label,
option,
select {
  font-size: small;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Fredoka', sans-serif;
}
h2 {
  font-size: larger;
}
h6 {
  font-size: smaller;
}
body {
  background-image: url("https://img.freepik.com/premium-photo/white-wood-texture-as-template-with-blank-space_84485-2830.jpg?w=360");
}
article{
  background-image: linear-gradient(0deg, rgba(255,0,0,0), #ffffff);
}

/* links CSS */
ul.nav li a, ul.nav li a:visited {
  color: #201d1d;
}
ul.nav li a:hover {
  color: #f69864;
}
.nav-pills .nav-link.active {
  background-color: #f69864;
}

/* btn CSS  */
.btn-primary,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background-color: #f69864;
  border: none;
  box-shadow: none;
}
.btn-primary:hover,
a.btn-primary:active {
  background-color: #e95761;
  border: none;
}
.btn.active,
:not(.btn-check) + .btn:active {
  background-color: #e95761;
  border: none;
}

/* menu CSS */
.center-cropped {
  object-fit: cover; 
  object-position: center; 
  height: 100%;
  width: 100%;
}
.card {
  border: none;
}
.card:hover {
  box-shadow: 0 0 0 0.25rem #f697646c;
}
.card a {
  text-decoration: none;
  color: #201d1d;
}
.card a:hover {
  text-decoration: none;
  color: #f69864;
}

.card:hover img {
  scale: 1.3;
}

/* form */
.form-control:focus {
  border-color: #f69864;
  box-shadow: 0 0 0 0.25rem #f6986440;
}
