/* colour --> 201d1d(black), 009ddc(blue), f69864(pink), e95761(shrimp) */
/* general */
footer p,
label,
option,
select {
  font-size: small;
}

h2 {
  font-size: larger;
}
h6 {
  font-size: smaller;
}
body{
  background-image: url('https://img.freepik.com/premium-photo/white-wood-texture-as-template-with-blank-space_84485-2830.jpg?w=360');
  /* background-size: cover; */
}

/* links CSS */
ul.nav li a {
  color: #201d1d;
}
ul.nav li a:hover {
  color: #f69864;
}
.nav-pills .nav-link.active {
  background-color: #f69864;
}

/* btn CSS  */
.btn-primary {
  background-color: #f69864;
  border: none;
}
.btn-primary:hover,
a.btn-primary:active {
  background-color: #e95761;
  border: none;
}
.btn.active,
:not(.btn-check) + .btn:active {
  background-color: #e95761;
  border: none;
}

/* menu CSS */
.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
  width: 100%;
}
.card {
  border: none;
}
.card:hover img {
  scale: 1.2;
}
